<!-- TODO: Insert components of component-->
<launch>
  <node pkg="lidar_camera" name="lidar_camera" type="lidar_camera_node" output="screen" required="true">
    <remap from="cloud_in" to="/carla/hero/LIDAR"/>
    <remap from="image_in" to="/carla/hero/Center/image"/>
    <remap from="camera_info" to="/carla/hero/Center/camera_info"/>
  </node>
</launch>
