<launch>
    <arg name="role_name" default="hero" />
    <arg name="control_loop_rate" default="0.05" />

    <!-- perception -->
    <include file="$(find perception)/launch/perception.launch">
    </include>

    <!-- planning -->
    <include file="$(find planning)/launch/planning.launch">
    </include>

<!--     <include file="$(find mock)/launch/mock.launch"> -->
<!--         <arg name="control_loop_rate" value="$(arg control_loop_rate)"/> -->
<!--         <arg name="role_name" value="$(arg role_name)"/> -->
<!--     </include> -->

    <!-- acting -->
    <include file="$(find acting)/launch/acting.launch">
        <arg name="control_loop_rate" value="$(arg control_loop_rate)"/>
        <arg name="role_name" value="$(arg role_name)"/>
    </include>
</launch>
