<!-- TODO: Insert components of acting component-->
<launch>
    <arg name="role_name" default="hero" />
    <arg name="control_loop_rate" default="0.1" />

    <node pkg="acting" type="pure_pursuit_controller.py" name="pure_pursuit_controller" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <node pkg="acting" type="stanley_controller.py" name="stanley_controller" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <node pkg="acting" type="velocity_controller.py" name="velocity_controller" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <node pkg="acting" type="velocity_publisher_dummy.py" name="velocity_publisher_dummy" output="screen">
        <param name="role_name" value="$(arg role_name)" />
        <param name="control_loop_rate" value="0.2" />
        <param name="enabled" value="False" /> <!-- set to True to publish dummy velocities for testing-->
    </node>

     <node pkg="acting" type="vehicle_controller.py" name="vehicle_controller" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>
<!--
    <node pkg="acting" type="DummyTrajectoryPublisher.py" name="DummyTrajectoryPublisher" output="screen">
        <param name="control_loop_rate" value="1" />
        <param name="role_name" value="$(arg role_name)" />
    </node>
-->

    <node pkg="acting" type="MainFramePublisher.py" name="MainFramePublisher" output="screen">
        <param name="control_loop_rate" value="0.05" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <!--node pkg="acting" type="DummyTrajectorySub.py" name="DummyTrajectorySub" output="screen">
        <param name="control_loop_rate" value="1" />
        <param name="role_name" value="$(arg role_name)" />
    </node-->

   <node pkg="acting" type="acc_distance_publisher_dummy.py" name="AccDistancePublisherDummy" output="screen">
        <param name="role_name" value="$(arg role_name)" />
        <param name="enabled" value="False" /> <!-- set to True to publish dummy velocities for testing-->
   </node>

  <node pkg="acting" type="acc.py" name="Acc" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
  </node>
</launch>
