<!-- TODO: Insert components of component-->
<launch>
    <!--
    <node pkg="planning" type="dev_global_route.py" name="DevGlobalRoute" output="screen">
           <param name="from_txt" value="True" />
           <param name="sampling_resolution" value="75.0" />
           <param name="routes" value="/opt/leaderboard/data/routes_devtest.xml" />
           <param name="global_route_txt" value="/code/planning/src/planning/global_route.txt" />
           <param name="role_name" value="hero" />
    </node>-->
    <node pkg="planning" type="preplanner.py" name="PrePlanner" output="screen">
           <param name="role_name" value="hero" />
    </node>

    <include file="$(find behavior_agent)/launch/behavior_agent.launch"/>
</launch>
